<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>About US - ExonHost</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/tabcontent-contact.css" />
<link href="css/mobile.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png"  href="images/favicon.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>
<script type="text/javascript" src="js/tabcontent.js"></script>
</head>

<body>
<!--top navbar -->
<div id="topbar">
<ul>
<li class="hide"><a href="index.html">Home</a></li>
<li class="nopad hide"><a href="http://blog.exonhost.com">Blog</a></li>
<li class="topright tic4 hide"><a href="about.html">About</a></li>
<li class="topright tic3 hide"><a href="#">Affiliates</a></li>
<li class="topright tic2"><a href="tel:+01978-992200"><img src="images/tic2.png"  alt="Call Us" />01978-992200</a></li>
<li class="topright tic2"><a href="tel:+09666-744755"><img src="images/tic2.png"  alt="Call Us" />09666-744755</a></li>
</ul>
</div>
<div class="clear"></div>
<!--end top navbar -->

<!--main navbar -->
<div id="navbar">
<div class="content">
<div class="logo"><a href="index.html"><img src="images/logo.png"   alt="ExonHost" /></a></div>
<ul id="menuprincipal">
<li class="thissection"><a href="web-hosting.html"><span class="hideph">Our </span>Services</a></li>
<li><a href="contact.html">Support</a></li>
<li class="last"><a href="https://clients.exonhost.com/clientarea.php">Client Area</a></li>
</ul>
</div>
</div><div class="clear"></div>
<!--end main navbar -->

<!--mobile menu -->
<div class="white">
<div class="content">
<nav class="clearfix">
  <ul class="clearfix">
    <li><a href="web-hosting.html">Web Hosting</a></li>
    <li><a href="reseller-hosting.html">Reseller<span class="mobonly">s</span> <span class="hidetablet">Hosting</span></a></li>
    <li><a href="ssd-vps.html">Virtual Servers</a></li>
    <li><a href="dedicated-server.html">Dedicated Servers</a></li>
    <li><a href="https://clients.exonhost.com/domain/?a=add&domain=register">Domain<span class="mobonly">s</span> <span class="hidetablet">Names</span></a></li>
    <li><a href="https://clients.exonhost.com/index.php?rp=/store/ssl-certificates">SSL<span class="mobonly">s</span> <span class="hidetablet">Certificate</span></a></li>  
  </ul>
  <a href="#" id="pull">Menu</a>
</nav></div></div><div class="clear"></div>
<!--end mobile menu -->


<!--banner. No label? Add 26px padding with nolabel class -->

<div class="blue banner innerpage"><div id="gradient"><div class="content">
<h1 class="nolabel">Shared Web Hosting</h1>
<div class="breadcrumb"><a href="index.html">home</a><span class="devider">&nbsp; /  &nbsp;</span><span>Shared Web Hosting</span></div>
</div></div></div>
<!--end banner -->



<!--plans /tab content -->

<div class="white"> 
<div class="content" id="dedicated-servers-available"> 


    <!-- end single servers -->
        <!-- dual  servers -->
                <h1 style="text-align: center;padding: 20px;"><b class="grey">Hosting Features</b></h1>
              
 <table class="tablesaw" style="margin-bottom:40px">
		  <thead>
				<tr class="plans" style="border-left: 1px solid #ededed;">
					<th style="border-left: 1px solid #ededed;font-size: 20px;padding-bottom: 10px;line-height: 10px;">
						<h2>
						  Start Your Website 
						 </h2>
						<strong class="unbold">Choose Your Plan</strong>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="Starter">
						 <h2>Starter</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">2.99</b><span>/mo</span>
					 </div>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
                      <div class="standard">
						 <h2>Standard</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">5.99</b><span>/mo</span>
					 </div>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="advanced">
						 <h2>Advanced</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">9.99</b><span>/mo</span>
					 </div>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="turbo_diesel">
						 <h2>Turbo Diesel+</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">19.95</b><span>/mo</span>
					 </div>
					</th>
				</tr>
		</thead>
		
		  <tbody>
		    <tr style="border-top: 1px solid #ededed;">
		     <td style="border-right: 1px solid #ededed;">
			 <strong class="title" style= "margin-left: 20px;">Order This Plan</strong>
			 </td>
		     <td style="border-right: 1px solid #ededed;text-align: center;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
			 <td style="border-right: 1px solid #ededed;text-align: center;padding: 15px;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
			 <td style="border-right: 1px solid #ededed;text-align: center;padding: 15px;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
		     <td style="border-right: 1px solid #ededed;text-align: center;padding: 15px;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
	        </tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;background: #ededed;">
		     <td>
			 <strong class="title" style= "margin-left: 20px;">We Have All Essential Features</strong>
			 </td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
		    </tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Suitable Number of Monthly Visits</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><b>~ 10,000</b> Visits</td>
			 <td style="border: 1px solid #ededed;"><b>~ 25,000</b> Visits</td>
			 <td style="border: 1px solid #ededed;"><b>~ 50,000</b> Visits</td>
			 <td style="border: 1px solid #ededed;"><b>~ 1,00,000</b> Visits</td>
		    </tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Web Space</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><b>1 GB</b> Storage</td>
			 <td style="border: 1px solid #ededed;"><b>5 GB</b> Storage</td>
			 <td style="border: 1px solid #ededed;"><b>10 GB</b> Storage</td>
			 <td style="border: 1px solid #ededed;"><b>50 GB</b> Storage</td>
		    </tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Websites Hosted</strong>
			 </td>
			 <td style="border: 1px solid #ededed;">Single Website</td>
			 <td style="border: 1px solid #ededed;">5 Websites</td>
			 <td style="border: 1px solid #ededed;">10 Websites</td>
			 <td style="border: 1px solid #ededed;">Unlimited Websites</td>
		    </tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Data Transfer</strong>
			 </td>
			 <td style="border: 1px solid #ededed;">1 Core Limit</td>
			 <td style="border: 1px solid #ededed;">1 Core Limit</td>
			 <td style="border: 1px solid #ededed;">1 Core Limit</td>
			 <td style="border: 1px solid #ededed;">1 Core Limit</td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Free Drag & Drop Builder</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Free CMS Install</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Unlimited Sub and Parked Domains</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">cPanel & Softaculous</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">30 Days Money Back</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;background: #ededed;">
		     <td>
			 <strong class="title" style= "margin-left: 20px;">We Load Your Site Faster</strong>
			 </td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
		    </tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Servers on Three Continents</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">SSD Storage</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Customized Server Setup</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Free CDN with Each Account</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">HTTP/2 enabled servers</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">SuperCacher</strong>
			 </td>
			 <td style="border: 1px solid #ededed;">Level 1 Only</td>
			 <td style="border: 1px solid #ededed;">Level 3 Only</td>
			 <td style="border: 1px solid #ededed;">Level 5 Only</td>
			 <td style="border: 1px solid #ededed;">Level 10 Only</td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;background: #ededed;">
		     <td>
			 <strong class="title" style= "margin-left: 20px;">We Prevent Downtime, SPAM, Hacks & Data Loss</strong>
			 </td>
			 <td></td>
			 <td></td>
			 <td></td>
			 <td></td>
		    </tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Power Redundancy</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Hardware Redundancy</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">LXC-based stability</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Unique Account Isolation</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">The Fastest Server Monitoring</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Anti-Hack Systems & Help</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Proactive updates and patches</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">SPAM Experts Spam Prevention</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Free Auto Daily Backups</strong>
			 </td>
			 <td style="border: 1px solid #ededed;">30 Copies</td>
			 <td style="border: 1px solid #ededed;">30 Copies</td>
			 <td style="border: 1px solid #ededed;">30 Copies</td>
			 <td style="border: 1px solid #ededed;">30 Copies</td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Free Backup Restore</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">Free Backups on Demand</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			<tr style="border: 1px solid #ededed;line-height: 70px;text-align: center;">
		     <td style= "text-align: left;">
			 <strong class="title" style= "margin-left: 20px;">SPAM Experts Spam Prevention</strong>
			 </td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			 <td style="border: 1px solid #ededed;"><img src="images/okgrey.png" /></td>
			</tr>
			
			
	</tbody>
	
	
	<thead>
				<tr class="plans" style="border-left: 1px solid #ededed;">
					<th style="border-left: 1px solid #ededed;font-size: 20px;padding-bottom: 10px;line-height: 10px;">
						<h2>
						  Start Your Website 
						 </h2>
						<strong class="unbold">Choose Your Plan</strong>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="Starter">
						 <h2>Starter</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">2.99</b><span>/mo</span>
					 </div>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="standard">
						 <h2>Standard</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">5.99</b><span>/mo</span>
					 </div>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="advanced">
						 <h2>Advanced</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">9.99</b><span>/mo</span>
					 </div>
					</th>
					
					<th style="border-left: 1px solid #ededed;">
					 <div class="turbo_diesel">
						 <h2>Turbo Diesel+</h2>
						 <i style="font-size: 40px;font-style: normal;">$</i><b style="font-size: 40px;">19.95</b><span>/mo</span>
					 </div>
					</th>
				</tr>
		</thead>
		
		  <tbody>
		    <tr style="border-top: 1px solid #ededed;">
		     <td style="border-right: 1px solid #ededed;">
			 <strong class="title" style= "margin-left: 20px;">Order This Plan</strong>
			 </td>
		     <td style="border-right: 1px solid #ededed;text-align: center;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
			 <td style="border-right: 1px solid #ededed;text-align: center;padding: 15px;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
			 <td style="border-right: 1px solid #ededed;text-align: center;padding: 15px;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
		     <td style="border-right: 1px solid #ededed;text-align: center;padding: 15px;">
			  <div class="price">
			   <a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order</a>
			  </div>
			 </td>
	        </tr>
</table>
    <!-- end dual  servers -->
<!--END TABLEs SAW -->
</div>




</div></div>
<!--end plans -->
<div id="footertop">
<div class="content">
<ul>
<li id="titf">Not sure where to start?</li><li id="angle"><a href="#"><img src="images/chat.png"  alt=""> Sales Live Chat</a></li><li id="ticket"><a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=1"><img src="images/ticket.png"  alt=""> <span>Submit a </span>Support Ticket</a></li><li id="mailf"><a href="tel:+09666744755"><img src="images/call.png"  alt=""> Call Us</a></li><li id="emf"><a href="mailto:sales@exonhost.com"><img src="images/email.png"  alt=""> Email Us</a></li>
</ul>
</div>
</div>
<div id="footerlinks">
<div class="content">
<div id="newsletter"><h5>NEWSLETTER SIGNUP</h5>Signup to recieve latest promotions.
<form>
<input name="email" type="text" value="Email address" class="fem"><input name="Submit" type="button" value="Subscribe"  class="fbu" >
</form>
<div id="socilicons">
<a href="https://www.facebook.com/exonhost" class="social"></a>
<a href="https://www.twitter.com/exonhost" class="social twitter"></a>
<a href="#" class="social gplus"></a>
</div>
</div>
<ul id="footermap"> 
<li>
<h5>Services</h5>

<a href="web-hosting.html">Web Hosting</a>
<a href="reseller-hosting.html">Reseller Hosting</a>
<a href="ssd-vps.html">Virtual Servers</a>
<a href="dedicated-server.html">Dedicated Servers</a>
</li>
<li>
<h5>Company</h5>

<a href="about.html">About US</a>
<a href="datacenter.html">Our Datacenters</a>
<a href="http://blog.exonhost.com">Our Blog</a>
<a href="https://clients.exonhost.com/contact.php">Contact US </a>

</li>

<li>
<h5>Help</h5>

<a href="https://clients.exonhost.com/index.php?rp=/knowledgebase">Knowledgebase</a>
<a href="https://status.exonhost.com">Service Status</a>
<a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=1">Support Center</a>
<a href="https://clients.exonhost.com/index.php?rp=/announcements">News &amp; Updates</a>
</li>

<li>
<h5>Legal</h5>

<a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=4">Report Abuse</a>
<a href="tos.html">Terms of Service</a>
<a href="privacy.html">Privacy Policy</a>
<a href="tos.html">Acceptable Usages Policy</a>

</li>
</ul>
<div class="clear"></div>
<div class="copy"><div><a href="tos.html">Terms of Service</a>   |   <a href="privacy.html">Privacy Policy</a>   |  <a href="tos.html">SLA</a> &nbsp; <span><img src="images/card1.png"   alt="MasterCard"> <img src="images/card2.png"   alt="Visa"> <img src="images/card3.png"   alt="PayPal"></span></div>&copy; 2017 ExonHost. All rights reserved.</div>

</div></div>

<!-- End Global Footer -->

  <!--Start of Help.com Live Chat Script-->
  <script>
    window.Helpdotcom=window.Helpdotcom||function(a){window.Helpdotcom.q.push(a)},window.Helpdotcom.q=[];var d=document,s=d.createElement("script");s.type="text/javascript",s.async=!0,s.src="//plugins.help.com/livechat.js",s.id="helpdotcom-script",s.setAttribute("data-org-id","ccc8aa75-311e-49c7-88a8-8085df34d870"),s.setAttribute("data-widget-id","8f961332-cdd0-44f1-ae41-cae08e1645f1");var x=d.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);
  </script>
  <!--End of Help.com Live Chat Script-->

</body>
</html>
