<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>SSD VPS | Cheap VPS | Fully Managed SSD VPS - ExonHost</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/tabcontent.css" />
<link href="css/mobile.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png"  href="images/favicon.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  	<script>

		$(function() {

			var pull 		= $('#pull');

				menu 		= $('nav ul');

				menuHeight	= menu.height();



			$(pull).on('click', function(e) {

				e.preventDefault();

				menu.slideToggle();

			});



			$(window).resize(function(){

        		var w = $(window).width();

        		if(w > 320 && menu.is(':hidden')) {

        			menu.removeAttr('style');

        		}

    		});

		});

	</script>

<script type="text/javascript" src="js/tabcontent.js"></script>

      <!-- saw table -->

          <link rel="stylesheet" href="dist/tablesaw.css">



	<script src="dist/dependencies/jquery.js"></script>

	<script src="dist/tablesaw.js"></script>

	<script src="dist/tablesaw-init.js"></script>

	<script>

	$(function() {

		$( "#custom-sort" ).data( "tablesaw-sort", function( ascending ) {

			return function( a, b ) {

				// a.cell

				// a.element

				// a.rowNum

				var yearA = a.cell.split( "/" ),

					yearB = b.cell.split( "/" );



				if( ascending ) {

					return parseInt( yearA[ 1 ], 10 ) - parseInt( yearB[ 1 ], 10 );

				} else {

					// descending

					return parseInt( yearB[ 1 ], 10 ) - parseInt( yearA[ 1 ], 10 );

				}

			};

		});

	});

	</script>

    <!-- end saw table -->

</head>



<body>

<!--top navbar -->

<div id="topbar">

<ul>

<li class="hide"><a href="index.html">Home</a></li>

<li class="nopad hide"><a href="http://blog.exonhost.com">Blog</a></li>

<li class="topright tic4 hide"><a href="about.html">About</a></li>

<li class="topright tic3 hide"><a href="https://clients.exonhost.com/affiliates.php">Affiliates</a></li>

<li class="topright tic2"><a href="tel:+01978-992200"><img src="images/tic2.png"  alt="Call Us" />01978-992200</a></li>

<li class="topright tic2"><a href="tel:+09666-744755"><img src="images/tic2.png"  alt="Call Us" />09666-744755</a></li>

</ul></div><div class="clear"></div>

<!--end top navbar -->



<!--main navbar -->

<div id="navbar">

<div class="content">

<div class="logo"><a href="index.html"><img src="images/logo.png"   alt="ExonHost" /></a></div>

<ul id="menuprincipal">

<li class="thissection"><a href="webhosting.html"><span class="hideph">Our </span>Services</a></li>

<li><a href="contact.html">Support</a></li>

<li class="last"><a href="https://clients.exonhost.com/clientarea.php">Client Area</a></li>

</ul>

</div>

</div><div class="clear"></div>

<!--end main navbar -->



<!--mobile menu -->

<div class="white">

<div class="content">

<nav class="clearfix">

  <ul class="clearfix">

    <li><a href="web-hosting.html">Web Hosting</a></li>

    <li><a href="reseller-hosting.html">Reseller<span class="mobonly">s</span> <span class="hidetablet">Hosting</span></a></li>

    <li><a href="ssd-vps.html"><b>Virtual Servers</b></a></li>

    <li><a href="dedicated-server.html">Dedicated Servers</a></li>

    <li><a href="https://clients.exonhost.com/domain/?a=add&domain=register">Domain<span class="mobonly">s</span> <span class="hidetablet">Names</span></a></li>

    <li><a href="https://clients.exonhost.com/index.php?rp=/store/ssl-certificates">SSL<span class="mobonly">s</span> <span class="hidetablet">Certificate</span></a></li>  

  </ul>

  <a href="#" id="pull">Menu</a>

</nav></div></div><div class="clear"></div>

<!--end mobile menu -->





<!--banner. No label? Add 26px padding with nolabel class -->



<div class="blue banner innerpage"><div id="gradient"><div class="content">

<span class="labelred">Fully Managed</span>

<h1>SSD VPS</h1>

<div class="breadcrumb"><a href="index.html">home</a><span class="devider">&nbsp; /  &nbsp;</span><span>services: ssd vps</span></div>

</div></div></div>

<!--end banner -->





<!--plans /tab content -->



<div class="white"> 

<div class="content" id="vps-plans-available">

<div id="vpssolutions">Xen VPS</div>

 

<ul id="countrytabs" class="shadetabs">

<li class="first"><a href="#" rel="country1" class="selected">SSD 2G</a></li>

<li><a href="#" rel="country2">SSD 4G</a></li>

<li><a href="#" rel="country3">SSD 6G</a></li>

<li><a href="#" rel="country4">SSD 8G</a></li>

<li><a href="#" rel="country5">SSD 16G</a></li>

<li class="lastx"><a href="#" rel="country6">SSD 32G</a></li>

</ul>



<div>



<div id="country1" class="tabcontent">

<!--vps plan -->

<div class="spacer">&nbsp;</div>

<div class="flex-grid vps">

<div class="twhofird managed">

<h2 class="vpstitle hide">SSD 2G</h2>

<ul>

<li>2 CPU Core</li>

<li>2 GB Ram</li>

<li>30 GB Pure SSD Space</li>

<li>Free Softaculous</li>

</ul>

<ul>

<li>1 IP Address</li>

<li>2TB Traffic</li>

<li>Xen Virtualization</li>

<li>Free WHM/cPanel</li>

</ul>

</div>

<div class="onefird">

<div class="vpsprice">

<div class="details"><span>$</span>39<i>/mo</i></div>

<a class="greenbutton yellow" href="https://clients.exonhost.com/cart.php?a=add&pid=187">Order</a>

</div>

<h6><b>Available Locations</b> (select during checkout):</h6><hr>

<div class="loc">

Dallas – TX

Los Angeles

</div>

<div class="loc">

New Jersy

Seatle - SE

</div>

<div class="loc">

Buffalo, NY



</div>

</div>

</div>

<!-- end vps plan -->

</div>



<div id="country2" class="tabcontent">

<!--vps plan -->

<div class="spacer">&nbsp;</div>

<div class="flex-grid vps">

<div class="twhofird managed">

<h2 class="vpstitle hide">SSD 4G</h2>

<ul>

<li>2 CPU Core</li>

<li>4 GB Ram</li>

<li>60 GB Pure SSD Space</li>

<li>Free Softaculous</li>

</ul>

<ul>

<li>1 IP Address</li>

<li>3 TB Traffic</li>

<li>Xen Virtualization</li>

<li>Free WHM/cPanel</li>

</ul>

</div>

<div class="onefird">

<div class="vpsprice">

<div class="details"><span>$</span>61<i>/mo</i></div>

<a class="greenbutton yellow" href="https://clients.exonhost.com/cart.php?a=add&pid=188">Order</a>

</div>

<h6><b>Available Locations</b> (select during checkout):</h6><hr>

<div class="loc">

Dallas – TX

Los Angeles

</div>

<div class="loc">

New Jersy

Seatle - SE

</div>

<div class="loc">

Buffalo, NY



</div>

</div>

</div>

<!-- end vps plan --></div>



<div id="country3" class="tabcontent">

<!--vps plan -->

<div class="spacer">&nbsp;</div>

<div class="flex-grid vps">

<div class="twhofird managed">

<h2 class="vpstitle hide">SSD 6G</h2>

<ul>

<li>4 CPU Core</li>

<li>6 GB Ram</li>

<li>80 GB Pure SSD Space</li>

<li>Free Softaculous</li>

</ul>

<ul>

<li>1 IP Address</li>

<li>4 TB Traffic</li>

<li>Xen Virtualization</li>

<li>Free WHM/cPanel</li>

</ul>

</div>

<div class="onefird">

<div class="vpsprice">

<div class="details"><span>$</span>76<i>/mo</i></div>

<a class="greenbutton yellow" href="https://clients.exonhost.com/cart.php?a=add&pid=189">Order</a>

</div>

<h6><b>Available Locations</b> (select during checkout):</h6><hr>

<div class="loc">

Dallas – TX

Los Angeles

</div>

<div class="loc">

New Jersy

Seatle - SE

</div>

<div class="loc">

Buffalo, NY



</div>

</div>

</div>

<!-- end vps plan -->

</div>



<div id="country4" class="tabcontent">

<!--vps plan -->

<div class="spacer">&nbsp;</div>

<div class="flex-grid vps">

<div class="twhofird managed">

<h2 class="vpstitle hide">SSD 8G</h2>

<ul>

<li>4 CPU Core</li>

<li>8 GB Ram</li>

<li>100 GB Pure SSD Space</li>

<li>Free Softaculous</li>

</ul>

<ul>

<li>1 IP Address</li>

<li>5 TB Traffic</li>

<li>Xen Virtualization</li>

<li>Free WHM/cPanel</li>

</ul>

</div>

<div class="onefird">

<div class="vpsprice">

<div class="details"><span>$</span>91<i>/mo</i></div>

<a class="greenbutton yellow" href="https://clients.exonhost.com/cart.php?a=add&pid=190">Order</a>

</div>

<h6><b>Available Locations</b> (select during checkout):</h6><hr>

<div class="loc">

Dallas – TX

Los Angeles

</div>

<div class="loc">

New Jersy

Seatle - SE

</div>

<div class="loc">

Buffalo, NY



</div>

</div>

</div>

<!-- end vps plan -->

</div>



<div id="country5" class="tabcontent">

<!--vps plan -->

<div class="spacer">&nbsp;</div>

<div class="flex-grid vps">

<div class="twhofird managed">

<h2 class="vpstitle hide">SSD 16G</h2>

<ul>

<li>8 CPU Core</li>

<li>16 GB Ram</li>

<li>160 GB Pure SSD Space</li>

<li>Free Softaculous</li>

</ul>

<ul>

<li>1 IP Address</li>

<li>6 TB Traffic</li>

<li>Xen Virtualization</li>

<li>Free WHM/cPanel</li>

</ul>

</div>

<div class="onefird">

<div class="vpsprice">

<div class="details"><span>$</span>160<i>/mo</i></div>

<a class="greenbutton yellow" href="#">Order</a>

</div>

<h6><b>Available Locations</b> (select during checkout):</h6><hr>

<div class="loc">

Dallas – TX

Los Angeles

</div>

<div class="loc">

New Jersy

Seatle - SE

</div>

<div class="loc">

Buffalo, NY



</div>

</div>

</div>

<!-- end vps plan -->

</div>



<div id="country6" class="tabcontent">



<!--vps plan -->

<div class="spacer">&nbsp;</div>

<div class="flex-grid vps">

<div class="twhofird managed">

<h2 class="vpstitle hide">SSD 32G</h2>

<ul>

<li>8 CPU Core</li>

<li>32 GB Ram</li>

<li>320 GB Pure SSD Space</li>

<li>Free Softaculous</li>

</ul>

<ul>

<li>1 IP Address</li>

<li>8 TB Traffic</li>

<li>Xen Virtualization</li>

<li>Free WHM/cPanel</li>

</ul>

</div>

<div class="onefird">

<div class="vpsprice">

<div class="details"><span>$</span>320<i>/mo</i></div>

<a class="greenbutton yellow" href="#">Order</a>

</div>

<h6><b>Available Locations</b> (select during checkout):</h6><hr>

<div class="loc">

Dallas – TX

Los Angeles

</div>

<div class="loc">

New Jersy

Seatle - SE

</div>

<div class="loc">

Buffalo, NY



</div>

</div>

</div>

<!-- end vps plan -->

</div>

</div>



<script type="text/javascript">



var countries=new ddtabcontent("countrytabs")

countries.setpersist(true)

countries.setselectedClassTarget("link") //"link" or "linkparent"

countries.init()



</script>







</div></div>

<!--end plans -->

<div class="white">

<div class="content" id="dedicated-servers-available"> 



<!--SAW TABLE -->

 <!-- OpenVZ SSD vps -->

                <h3>OpenVZ VPS</h3>

              

              <table class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch>

		  <thead>

		    <tr>

		      

		      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Plan Name</th>

		      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Speed</th>

		      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Memory</th>

		      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Disk Space</th>

		      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Bandwidth</th>

		      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Price</th>

	        </tr>

  </thead>

		  <tbody>

		    <tr>

		      <td class="leftal">OpenVZ SSD 2G</td>

		      <td>2 x 2.2 GHz</td>

		      <td>2 GB Dedicated</td>

		      <td>40 GB SSD</td>

		      <td>1 TB</td>

		      <td><div class="price">$23.95<a class="greenbutton" href="https://clients.exonhost.com/cart.php?a=add&pid=72">Configure</a></div></td>

	        </tr>

		    <tr>

		      <td class="leftal">OpenVZ SSD 4G</td>

		      <td>4 x 2.2 GHz</td>

		      <td>4 GB Dedicated</td>

		      <td>80 GB SSD</td>

		      <td>2 TB</td>

		      <td><div class="price">$35.99<a class="greenbutton" href="https://clients.exonhost.com/cart.php?a=add&pid=93">Configure</a></div></td>

	        </tr>

		    <tr>

		      <td class="leftal">OpenVZ SSD 6G</td>

		      <td>4 x 2.2 GHz</td>

		      <td>6 GB Dedicated</td>

		      <td>120 GB SSD</td>

		      <td>3 TB</td>

		      <td><div class="price">$45.99<a class="greenbutton" href="https://clients.exonhost.com/cart.php?a=add&pid=221">Configure</a></div></td>

	        </tr>

		    <tr>

		      <td class="leftal">OpenVZ SSD 8G</td>

		      <td>4 x 2.2 GHz</td>

		      <td>8 GB Dedicated</td>

		      <td>160 GB SSD</td>

		      <td>4 TB</td>

		      <td><div class="price">$55.99<a class="greenbutton" href="https://clients.exonhost.com/cart.php?a=add&pid=222">Configure</a></div></td>

	        </tr>



		 

  </tbody>

</table>

    <!-- end OpenVZ SSD vps -->

</div>

</div>

<!--available os -->

<div class="white">

<div class="content" id="oslist">

<b>Available Operating Systems</b>

<hr>

<span><img src="images/os1.png"  alt=""></span>

<span><img src="images/os2.png"  alt=""></span>

<span><img src="images/os3.png"  alt=""></span>

<span><img src="images/os4.png"  alt=""></span>

<span><img src="images/os5.png"  alt=""></span>

<span><img src="images/os6.png"  alt=""></span>

<span><img src="images/os7.png"  alt=""></span>

<span><img src="images/os8.png"  alt=""></span>

<span><img src="images/os9.png"  alt=""></span>

<span><img src="images/os10.png"  alt=""></span>





</div>

</div>

<!--end available os -->



<!-- silver 4 boxes -->

<div class="blue lightsilver" id="bonuses">

<div class="content">



<h1>All Virtual Servers Included</h1>

<div class="flex-grid">

<div class="quart"><h3><img src="images/dedi1.png"  alt="Cloud Hosting"><hr>Solid Security</h3><p>We harden each VPS by our security experts and guard with a security protocol tailored to your environment. </p></div>

<div class="quart"><h3><img src="images/dedi2.png"  alt="Dedicated Servers"><hr>Fully Managed</h3><p>We run your server so you can run your business. This means that we provide full support and management for your server. </p></div>

<div class="quart"><h3><img src="images/dedi3.png"  alt="Data Backup"><hr>Free cPanel/WHM</h3><p>All our Servers come with a cPanel/WHM Installed and Configured and included cPanel license at no additional cost. </p></div>

<div class="quart"><h3><img src="images/dedi4.png"  alt="Domane Names"><hr>Full Root Access</h3><p>The full power of the server! Having root access to the server gives you the ability to take full control of your server. </p></div>

 

</div>



</div>

</div>

<!-- end silver 4 boxes -->





<!-- Global Footer -->

<div class="white padseptente" >

<div class="content">



<!-- feautres -->

<div class="flex-grid centered" style="margin-bottom:75px">

<div class="onefird"><h3>99.9% Uptime Guarantee</h3><img src="images/uptime.png"  alt=""><p>We understand the uptime importance. We pledge to deliver in excess of 99.9% uptime, each and every month. </p></div>

<div class="onefird"><h3>3 Days Money-back guarantee</h3><img src="images/mback.png" width="94" height="94" alt=""><p>We have 3 days moneyback guarantee(*), so you can try our service without any risk. We'll refund you if you're not satisfied.</p></div>

<div class="onefird"><h3>Free 24/7 Professional Support</h3><img src="images/supp.png" width="94" height="94" alt=""><p>Our customer support is 24x7x365. With your hosting package you also gain 24x7 accesses to our expert support team.</p>

  </div>

</div>

<!-- end feautres -->



</div>

</div>

<div id="footertop">

<div class="content">

<ul>

<li id="titf">Not sure where to start?</li><li id="angle"><a href="#"><img src="images/chat.png"  alt=""> Sales Live Chat</a></li><li id="ticket"><a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=1"><img src="images/ticket.png"  alt=""> <span>Submit a </span>Support Ticket</a></li><li id="mailf"><a href="tel:+09666744755"><img src="images/call.png"  alt=""> Call Us</a></li><li id="emf"><a href="mailto:sales@exonhost.com"><img src="images/email.png"  alt=""> Email Us</a></li>

</ul>

</div>

</div>

<div id="footerlinks">

<div class="content">

<div id="newsletter"><h5>NEWSLETTER SIGNUP</h5>Signup to recieve latest promotions.

<form>

<input name="email" type="text" value="Email address" class="fem"><input name="Submit" type="button" value="Subscribe"  class="fbu" >

</form>

<div id="socilicons">

<a href="https://www.facebook.com/exonhost" class="social"></a>

<a href="https://www.twitter.com/exonhost" class="social twitter"></a>

<a href="#" class="social gplus"></a>

</div>

</div>

<ul id="footermap"> 

<li>

<h5>Services</h5>



<a href="web-hosting.html">Web Hosting</a>

<a href="reseller-hosting.html">Reseller Hosting</a>

<a href="ssd-vps.html">Virtual Servers</a>

<a href="dedicated-server.html">Dedicated Servers</a>

</li>

<li>

<h5>Company</h5>



<a href="about.html">About US</a>

<a href="datacenter.html">Our Datacenters</a>

<a href="http://blog.exonhost.com">Our Blog</a>

<a href="https://clients.exonhost.com/contact.php">Contact US </a>



</li>



<li>

<h5>Help</h5>



<a href="https://clients.exonhost.com/index.php?rp=/knowledgebase">Knowledgebase</a>

<a href="https://status.exonhost.com">Service Status</a>

<a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=1">Support Center</a>

<a href="https://clients.exonhost.com/index.php?rp=/announcements">News &amp; Updates</a>

</li>



<li>

<h5>Legal</h5>



<a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=4">Report Abuse</a>

<a href="tos.html">Terms of Service</a>

<a href="privacy.html">Privacy Policy</a>

<a href="tos.html">Acceptable Usages Policy</a>



</li>



</ul>

<div class="clear"></div>

<div class="copy"><div><a href="tos.html">Terms of Service</a>   |   <a href="privacy.html">Privacy Policy</a>   |  <a href="tos.html">SLA</a> &nbsp; <span><img src="images/card1.png"   alt="MasterCard"> <img src="images/card2.png"   alt="Visa"> <img src="images/card3.png"   alt="PayPal"></span></div>&copy; 2017 ExonHost. All rights reserved.</div>



</div></div>



<!-- End Global Footer -->



  <!--Start of Help.com Live Chat Script-->

  <script>

    window.Helpdotcom=window.Helpdotcom||function(a){window.Helpdotcom.q.push(a)},window.Helpdotcom.q=[];var d=document,s=d.createElement("script");s.type="text/javascript",s.async=!0,s.src="//plugins.help.com/livechat.js",s.id="helpdotcom-script",s.setAttribute("data-org-id","ccc8aa75-311e-49c7-88a8-8085df34d870"),s.setAttribute("data-widget-id","8f961332-cdd0-44f1-ae41-cae08e1645f1");var x=d.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);

  </script>

  <!--End of Help.com Live Chat Script-->



</body>

</html>

