body {
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
}
body, select, input, div {
	color: #777;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
figure {
	margin:0;
}
img {
	border: medium none;
}
*::-moz-selection {
	background-color: #000;
	color: #fff;
}
a {
	color: #fff;
	outline: medium none;
	text-decoration: none;
}
a:hover {
	outline: medium none;
	text-decoration: none;	
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.clear{
	clear:both;
	height:auto;
}
.wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}
b{
	font-weight:700;
}
.contentbox {
	float: left;
	width: 100%;
}
.mainbox {
	float: left;
	width: 96%;
	padding:0 2%
}
.mainbox h2 {
	font-size: 36px;
	line-height: 36px;	
	font-weight: 300;
	margin-bottom: 40px;
	margin-top: 0px;
	width:100%;
}
.mainbox h2 span.sub{
	display:block;
	font-size:16px;
	line-height:18px;
	margin-top:20px;
}
.mainbox h2 span.sub a{
    color: #02A9E7;
}
.mainbox h2 span.sub a:hover{
    color: #95C957;
}
.font1{
	font-size:14px;
}
h1{
	margin:0;
	font-size:50px;
	line-height:52px;
}
h1 span {
	margin:0;
	display:block;
	font-size:20px;
	line-height:22px;
}
h2{
	margin:0;
	font-size:36px;
	line-height:38px;
}
h3{
	margin:0;
	font-size:30px;
	line-height:30px;
}
h4{
	margin:0;
	font-size:20px;
	line-height:22px;
}
/************************/
/******** FONTS *********/
/************************/
.light {
	font-weight:300;
}
.semi_bold {
	font-weight:600;
}
.bold {
	font-weight:700;
}
.uppercase {
	text-transform:uppercase;
}
.capitalize {
	text-transform:capitalize;
}
/************************/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box1 {
	float: left;
	margin: 0;
	width:100%;
}
.box_lt {
	float: left;
	margin: 0;
}
.box_rt {
	float: right;
	margin: 0;
}
h1,h2,h3,h4,h5,p{
	margin:0;
}
p{
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
	hyphens: auto;
}
/************************************************************/
/************************ INDEX *****************************/
/************************************************************/

/*******************topnav****************************/
.topnav{
	float:left;
	width:100%;
	padding:0;
}

 .topnav .phone{
    float: left;
}
.topnavbox{
	float:left;
	width:96%;
	padding:0 2%;
}
.topnav label {
	position:relative;
	top:8px;
	float:left;
	width:50px;
}
.topnav label:after{
	position:absolute;
	content:"";
	color:#fff;
	font-size:14px;
	font-family:FontAwesome;
	top:0;
	right:0;
}
.topnav select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border:none;
   outline:none;
   background:none;
   color:#fff;
   cursor:pointer;
   width:50px;
}
.topnav option{
	background-color:#fff;
	color:#02a9e7;
}
.topnav ul{
	float:right;
}
.topnav ul li{
	float:left;
	padding:7px 0 8px;
	font-size:12px;
}
.topnav ul li a{
	padding:0 8px 0 12px;
	text-transform:uppercase;
}
.topnav ul li a:hover{
	text-decoration:underline;
}
.topnav ul li:first-child a{
	padding-left:0;
}
.topnav ul li:last-child a{
	padding-right:0;
}
.topnav ul li a span{
	margin-right:4px;
}
/*******************header****************************/
.banner_con{
	background-color:#f0f0f0;
	background-position: center top;
	background-repeat:no-repeat;
	background-size:cover;
	float:left;
	width:100%;
	background-image:url(../images/banner_bg.jpg);
}
.header{
	float:left;
	width:100%;
	position:relative;
	padding:22px 0% 22px;
	background-color:rgba(0,0,0,0.2);
	z-index:3;
}
.header_nav{
	width:96%;
	float:left;
	padding:0 2%;
}
#header_logo{
	float:left;
	margin-top:8px;
}
#header_logo a{
	display:block;
	height:25px;
	width:168px;
}
#nav{
	float:right;
}
.banner{
	display:table;
	height:476px;
}
.bannertext{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
}
.bannertext h1{
	font-size:50px;
	line-height:50px;
	margin-bottom:28px;
	font-weight:300;
}
.bannertext h1 span{
	display:block;
	font-size:20px;
	line-height:22px;
	margin-top:20px;
}
.bannertext .banner_list{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.bannertext ul{
	float:left;
	padding-right:30px;
}
.bannertext ul:last-child{
	padding-right:0;
}
.bannertext ul li{
	color:#fff;
}
.bannertext ul li:before{
	content:"";
	color:#95c957;
	font-family:FontAwesome;
	font-size:12px;
	margin-right:8px;
	position:relative;
	top:-2px;
}
.bannertext .btn1,.bannertext .btn2{
	float:left;
	display:inline-block;
	margin-right:20px;
}
.bannertext .btn1 a,.bannertext .btn2 a{
	padding:18px 26px;
}
/*******************Domain****************************/
.dominbox{
	width:82%;
	background:#fff;
	margin-bottom:30px;
	overflow:hidden;
	border-radius:1px;
	display:inline-block;	
	box-shadow:0 0 0 10px rgba(0,0,0,0.1) ;
	-moz-box-shadow:0 0 0 10px rgba(0,0,0,0.1) ;
  	-webkit-box-shadow:0 0 0 10px rgba(0,0,0,0.1) ;
}
.dominbox input[type="text"]{
	float:left;
	width:71.9%;
	border:none;
	outline:none;
	padding:12px 0 13px 3%;
}
.dominbox label {
	position:relative;
	top:12px;
	float:left;
	width:93px;
	text-align:left;
	border-left:1px solid #e7e7e7;
}
.dominbox label:after{
	position:absolute;
	content:"";
	color:#000;
	font-size:14px;
	font-family:FontAwesome;
	top:0;
	right:9px;
	
}
.dominbox select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border:none;
   outline:none;
   background:none;
   color:#777;
   cursor:pointer;
   width:50px;
   text-align:center; 
   margin-left:20px;
}
.dominbox option{
	background-color:#fff;
	color:#95c957;
}
.dominbox input[type="submit"]{
	color:#fff;
	border:none;
	outline:none;
	cursor:pointer;
	background:#02a9e7;
	line-height:14px;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	border-radius:2px;
	margin:2px 2px 2px 0px;
	width:14%;
	padding:14px 0 16px ;
	float:right;	
}
.dominbox input[type="submit"]:hover{
	background-color:#95c957;
}
.domaincon ul{
	display:inline-block;
}
.domaincon ul li{
	float:left;
	border-right:1px solid #777;
	padding:0 10px;
	line-height:14px;
	color:#777;
}
.domaincon ul li:last-child{
	border-right:none;
}
.domaincon ul li span{
	margin-right:5px;
}
/*******************plans****************************/
.plancon{
	background-image:url(../images/plan_bg.jpg);
}
.plan1{
	padding:25px 2%;
	width:27.1%;
	border-radius:2px;
	font-size:14px;
	float:left;
	margin-right:35px;
	box-shadow:0 0 0 1px solid #777 inset;
}
.plan1 h4{
	color:#2b2b2b;
	font-weight:300;
	font-size:20px;
	line-height:22px;
}
.plan1 h4 span{
	display:block;
	font-size:22px;
	text-transform:uppercase;
}
.plan1 .img_holder{
	display:inline-block;
	border-radius:4px;
	margin-bottom:10px;
	margin-top:28px;
}
.plan1 .img_holder span{
	display:table;
	text-align:center;
}
.plan1 .img_holder span img{
	display:table-cell;
	vertical-align:bottom;
}
.plan-price{
	display:inline-block;
	font-size:14px;
	color:#777;
	font-weight:400;
	position:relative;
	margin-bottom:27px;
	width:100%;
}
.plan-price::after{
	position:absolute;
	left:0;
	right:0;
	width:230px;
	height:1px;
	bottom:-14px;
	margin:0 auto;
	content:"";
	background:url(../images/price-bg.png) no-repeat center center;
}
.plan-price span{
	color:#02a9e7;
	font-weight:700;
	font-size:26px;
}
.plan-price .num{
	font-size:44px;
}
.plan1 .btn1{
	display:inline-block;
	margin-top:25px;
}
.plan1 .btn1 a{
	font-size:12px;
	color:#777;
	line-height:14px;
	padding:16px 58px;
	border-radius:2px;
	background:inherit;
	text-transform:uppercase;
	box-shadow:0 0 0 1px #ccc inset;
}
.plan1:hover .plan-price .num, .plan1:hover .plan-price span{
	color:#95c957;	
}
.plan1:hover .btn1 a,.plan1:hover .btn1,.plan1:hover .img_holder{
	background-color:#95c957;
	color:#fff;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow:none;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
/*******************Cpanel****************************/
.cpanel .box_lt{
	width:48%;
	margin-top:30px;
}
.cpanel h2{
	float:left;
	margin-bottom:20px;
}
.cpanel h2 span.sub{
	line-height:24px;
	margin-top:20px;
	font-size:14px;
	color:#777;
}
.cpanel .btn1{
	float:left;
}
.cpanel .btn1 a{
	background-color:#02a9e7;
	border-radius:2px;
}
.cpanel .btn1 a:hover{
	background-color:#95c957;
}
/*******************feature****************************/
.featurecon{
	background-image:url(../images/feature_bg.jpg)
}
.box1{
	margin-bottom:20px;
	text-align: initial;
}
.mainbox > .custom{
	text-align: center;
}
.box1 > .smallbox:last-child{
	margin-bottom:0;
	margin-right: 0;
}

.smallbox{
	float:left;
	width:45%;
	padding:20px 2%;
	margin-right:20px;
}

.box1 > .custom{
	width:28%;
}

.smallbox:hover, .smallbox:hover .img_holder,.smallbox:hover h4{
-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.smallbox:hover{
	-webkit-box-shadow: 0 0 0 5px ##02A9E7 inset;
	-moz-box-shadow: 0 0 0 5px ##02A9E7 inset;
	box-shadow: 0 0 0 5px ##02A9E7 inset;
	
}
.smallbox:hover .img_holder{
	background-color:##02A9E7;
}
.smallbox:hover h4{
	color:##02A9E7;
}
.smallbox .img_holder{
	float: left;
	border-radius:50%;
	height:92px;
	width:92px;
	margin:0 auto;
	display:table;
	margin-bottom:15px;
	margin-top:10px;
	margin-right: 10px;
}

.smallbox > .custom{
	float: none;
	margin-right: auto;
}
.smallbox .img_holder figure{
	display:table-cell;
	vertical-align:bottom;
}
.smallbox .img_holder figure img{
	float:left;
}
.smallbox h4{
	font-size:20px;
	margin-bottom:12px;
}
/******************* ssd ****************************/
.ssd .box_lt{
	width:70%;
	margin-top:10px;
}
.ssd figure{
	border-radius:18px;
}
.ssd figure img{
	vertical-align:bottom;
}
/******************* Questions ****************************/
.accordion_section .smallbox{
	width:49%;
	padding:0;
	margin-right:0px;
}
.boxlt{
	float:left;
	width:70%;
	margin:0;
	text-align:left;
	font-size:14px;
	font-weight:300;
}
.boxlt p{
	margin-bottom:22px;
}
.boxlt p:last-child{
	margin-bottom:0px;
}
/******************* sales ****************************/
.sales {
}
.sales .btn1,.sales .btn2{
	display:inline-block;
	margin-right:10px;
}
.sales .btn2 a{
	background-color:#02a9e7;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}
/***************partners*****************************/
.partners{
	border-top:1px solid #ebebeb;
	padding:30px 0;
}
/***************newsletter*****************************/
.newsletter{
	padding:34px 0;	
}
.newsletter .mainbox{
	width:80%;
	margin:0 auto;
	float:none;
}
.newsletter h4{
	float:left;
	font-size:26px;
	line-height:50px;
	font-weight:400;
}
.subscribe{
	width:53%;
	text-align:right;
}
.subscribe input[type=email],.subscribe button[type=submit]{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	outline:none;
	border:none;
	font-size:12px;
	color:#777;	
	line-height:50px;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.subscribe input[type=email]{
	padding:0 4% 0  4%;
	width:58.5%;
	background:#fff;	
}
.subscribe button[type=submit]{
	line-height:49px;
	padding:0 30px;
	color:#fff;
	background:#2b2b2b;
	cursor:pointer;
	text-transform:uppercase;
}
.subscribe button[type=submit]:hover{
	background:#95c957;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	 box-shadow: none;
}
.subscribe input[type=email]::-webkit-input-placeholder{
    color:   #777;
}
.subscribe input[type=email]:-moz-placeholder{
   color:    #777;
   opacity:  1;
}
.subscribe input[type=email]::-moz-placeholder{
   color:    #777;
   opacity:  1;
}
.subscribe input[type=email]:-ms-input-placeholder{
   color:    #777;
}
.subscribe input[type=email]:placeholder-shown{
  color:    #777;
}
/***************footer*****************************/
.footercon{
	width:100%;
	background-color:#02151e;
	float:left;
	padding:60px 0 40px;
}
.footer_box{
	width:96%;
	padding:0 2%;
	float:left;
}
.footer_box .box1{
	padding:0 4%;
	width:92%;
}
.footercon .border{
	width:100%;
	display:inline-block;
	margin:30px auto;
	text-align:center;
	box-shadow:0 1px 0 0 #14262e;
	-webkit-box-shadow:0 1px 0 0 #14262e;
	-moz-box-shadow:0 1px 0 0 #14262e;
}
.footercon .border:after{
	height:12px;
	width:12px;
	border-radius:50%;
	content:"";
	box-shadow:0 0 0 5px #02151e;
	-webkit-box-shadow:0 0 0 5px #02151e;
	-moz-box-shadow:0 0 0 5px #02151e;
	margin-bottom:-13px;
	background:#95c957;
	display:inline-block;
}
.sitemap{
	width:25%;
	font-size:14px;
	line-height:26px;
	display:inline-block;
	vertical-align:top;
	float:left;
	color:#fff;
	min-height:150px;
}
.sitemap h4{
	font-size:16px;
	line-height:20px;
	margin-bottom:15px;
	text-transform:uppercase;
}
.sitemap > p{
	margin-bottom:20px;
}
.sitemap > p:last-child{
	margin-bottom:0;
}
.sitemap ul li a:hover{
	color:#95c957;
}
.sitemap ul.social{
	float:left;
	margin-top:10px;
}
.sitemap ul.social li{
	float:left;
	font-size:24px;
	margin-right:6px;
}
.sitemap ul.social li a{
	font-family: FontAwesome;
}
.sitemap ul.social li a:hover{
	color:#02a9e7;
}
/*************************/
.copyright{
	width:100%;
	float:left;
}
.copyright p{
	color:#fff;
	margin-top:4px;
	font-size:12px;
}
.credit_cards{
	float:left;
	width:100%;
}
.copyright ul.cedit_cards{
	float:left;
}
.copyright h4{
	color:#fff;
	font-size:16px;
	margin-bottom:10px;
	text-transform:uppercase;
}
.copyright ul li{
	float:left;
    margin-right:7px;
	font-size:30px;
    text-align: center;
    transition: all 0.2s ease-in 0s;	
}

/************************************************************/
/************************ PLAN_PAGE *************************/
/************************************************************/
.subbanner_con{
	background-color:#f0f0f0;
	background-position: center top;
	background-repeat:no-repeat;
	background-size:cover;
	float:left;
	width:100%;
	background-image:url(../images/subbanner.jpg);
}
.sub_banner{
	display:table;
	height:280px;
	width:96%;
	padding:0 2%;
}
.sub_bannertext{
	display:table-cell;
	vertical-align:middle;
}
.sub_bannertext h1{
	font-size:50px;
	line-height:50px;
	margin-bottom:28px;
	font-weight:300;
}
.sub_bannertext h1 span{
	display:block;
	font-size:20px;
	line-height:30px;
	margin-top:10px;
}
/************************************************************/
/************************ ABOUT_US **************************/
/************************************************************/
.operating-section{
	position:relative;
}
.operating-section::after{
	position:absolute;
	left:0;
	right:0;
	bottom:-29px;
	width:60px;
	height:29px;
	margin:0 auto;
	content:"";
	z-index:99;
	background:url(../images/bottom-arrow.png) no-repeat;
}
.operating-section h2{
	margin:0;
	font-size:50px;
	line-height:50px;
	text-transform:uppercase;
}

.hosting-section{
	background-color:#ebebeb;
	position:relative;

}
.hosting-section::before{
	position:absolute;
	width:50%;
	left:0;
	top:0;
	content:"";
	height:100%;
	background-color:#fff;
}
.hosting-section-premium{
	background-color:#fff;
	position:relative;

}
.hosting-section-premium::before{
	position:absolute;
	width:50%;
	left:0;
	top:0;
	content:"";
	height:100%;
	background-color:#ebebeb;
}
.hostingbox{
	position:relative;
	z-index:999;
}
.hosting-smallbox{
	float:left;
	width:45%;
	padding:0 2.5%;
	font-weight:300;
}
.hosting-smallbox h3{
	color:#2b2b2b;
	font-weight:300;
}
.hosting-image{
	margin:24px 0;
}
.hosting-image i{
	font-size:180px;
}
.hosting-smallbox p{
	margin:0;
}
.hosting-smallbox p span{
	display:block;
}
/************************************************************/
/************************ subplans ************************/
/************************************************************/
.subplan1 ul li{
	padding:13px 0;
	font-size:14px;
	color:#555;
	line-height:14px;
	border-bottom:1px solid #ececec;
}

}
.subplan1 ul li b{
	text-transform:uppercase;
}
.subplan1 ul li:last-child{
	border-bottom:none;
}


}
.subplan1 .btn1{
	margin-top:15px;
}
.textbox{
	float:left;
	width:96%;
	font-weight:300;
	
}
.textbox p{
	font-weight:300;
}

.textbox strong{
	font-weight:500;
}
.textbox ul li {
    font-size: 15px;
    padding-left: 20px;
    position: relative;
    line-height: 16px;
    margin-bottom: 15px;
	
}

.textbox h2{
	margin:0 0 17px;
	font-weight:300;
}
.dedicated {
    float:left;
	width:75%;
	font-weight:300;
	text-align: left;
}
/************** GUARANTEE AREA *************/
.contentbox2{
	float:left;
	width:100%;
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
}
.gurantee_section{
	background-image:url(../images/guarantee-bg.jpg);
}
.white_smallbox{
	float:left;
	width:41%;
	padding:35px 4%;

}
.white_smallbox ul li{
	font-size:14px;
	color:#2b2b2b;
	padding-left:20px;
	position:relative;
	line-height:16px;
	margin-bottom:15px;
}
.white_smallbox ul li::before{
	position:absolute;
	left:0;
	top:0;
	color:#02a9e7;
	content:"";
	font-family: FontAwesome;
}
.white_smallbox ul li:last-child{
	margin-bottom:0px;
}
.dedicated_plans h4{
	text-transform:uppercase;
	margin-bottom:17px;
}
/****** table section ********/
.dedicated_section{
	position:relative;
	background-image:url(../images/black_ng.jpg);
}

.dedicated_plans > div {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}
.dedicated_plans > div:last-child{
	margin-bottom:0px;
}
.dedicated_planstable{
	float:left;
	width:100%;
	margin:0 0 50px;
	color:#777;
	background:#fff;
	text-align:left;
}
.dedicated_planstable:last-child{
	margin-bottom:0px;
}
.dedicated_planstable th{
	font-size:14px;
	line-height:16px;
	padding:18px 0;
	color:#fff;
	text-transform:uppercase;
}
.dedicated_planstable th:first-child, .dedicated_planstable td:first-child{
	padding-left:20px;
}
.dedicated_planstable td:first-child{
	 color:#2b2b2b;
}
.dedicated_planstable td:last-child{
	text-align:center;
}
.dedicated_planstable td{
	font-size:14px;
	line-height:16px;
	color:#777;
	font-weight:300;
	padding:18px 0;
	border-bottom:1px solid #e5e5e5;
}
.dedicated_planstable td .dedicated_price{
	font-weight:600;
	color:#2b2b2b;
}
.dedicated_planstable td  a{
	color:#777;
	font-size:12px;
	line-height:14px;
	text-transform:uppercase;
	padding:9px 21px;
	font-weight:400;
	border-radius:2px;
	box-shadow:0 0 0 1px #e5e5e5 inset;
}
.dedicated_planstable td a:hover{
	background-color:#02a9e7;
	color:#fff;
	box-shadow:0 0 0 1px #02a9e7 inset
}
.dedicated_planstable tr:last-child td{
	border-bottom:none;
}
.dedicated_planstable tr:nth-child(odd) td{
	background-color:#f8f8f8;
}
.dedicated_planstable2 a:hover{
	background-color:#95c957;
	box-shadow:0 0 0 1px #95c957 inset
}
/*********** smallbox area **************/
.dedicated_smallbox .smallbox{
	box-shadow:0 0 0 1px #eee, 0 4px 0 0 #eee;
}
.dedicated_smallbox .smallbox:hover{
	box-shadow:0 0 0 1px #95c957, 0 4px 0 0 #95c957;
}
/********** software area *****/
.software_bg{
	background-image:url(../images/softwrae_bg.jpg);
}
.software_box ul li{
	float:left;
	display:table;
	width:27.9%;
	font-size:16px;
	line-height:16px;
	background:#fff;
	margin-right:2%;
	padding:17px 2%;
	font-weight:600;
	color:#2b2b2b;
	text-align:left;
	box-shadow:0 0 0 1px #d4d4d4 inset;
}
.software_box ul li i{
	color:#02a9e7;
	margin-right:5px;
}
.software_box ul li:hover{
	background-color:#95c957;
	color:#fff;
	box-shadow:0 0 0 1px #95c957 inset;
}
.software_box ul li:hover i{
	color:#fff;
}
/**************************************/
/********** contact page **************/
/**************************************/
.contact_bannercon{
	background-image:url(../images/contact_banner.jpg);
}
.contact-form{
	float:left;
	width:100%;
	margin:30px 0 0;
}
.contact-form ul{
	float:left;
	width:49.5%;
}
.contact-form ul li{
	float:left;
	width:100%;
	margin:0 0 10px;
}
.contact-form ul li:last-child{
	margin-bottom:0;
}
.contact-form ul li .contact-fields, .contact-form ul li .captcha-field{
	border:none;
	outline:none;
	float:left;
	width:96%;
	font-size:14px;
	border-radius:2px;
	padding:0 2%;
	height:50px;
	line-height:50px;
	background-color:#fff;
	font-weight:300;
	box-shadow:0 0 0 1px #ccc inset;
}
.contact-form ul li .contact-fields::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777;
}
.contact-form ul li .contact-fields:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
   opacity:  1;
}
.contact-form ul li .contact-fields::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
   opacity:  1;
}
.contact-form ul li .contact-fields:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #777;
}
.contact-form ul li .contact-fields:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #777;
}
.contact-form ul li .dropdown{
	width:100%;
	-moz-appearance:none;
	-webkit-appearance:none;
	cursor:pointer;
	background:url(../images/dropdown_arrow.png) no-repeat 95% center #fff;
}
.contact-form ul li:last-child{
	text-align:right;
}
.contact-form ul li .captcha-image{
	display:inline-block;
	float:none;
	margin-right:10px;
	line-height:50px;
}
.contact-form ul li .captcha-image img{
	vertical-align:middle;
}
.contact-form ul li .captcha-field{
	float:right;
	width:23%;
}
.contact-form ul li textarea{
	min-height:169px;
	font-family: 'Open Sans', sans-serif;
}
.contact-form ul li textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777;
}
.contact-form ul li textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
   opacity:  1;
}
.contact-form ul li textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
   opacity:  1;
}
.contact-form ul li textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #777;
}
.contact-form ul li textarea:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #777;
}

.contact-form ul li .submit-btn{
	border:none;
	outline:none;
	color:#fff;
	height:50px;
	line-height:50px;
	background-color:inherit;
	width:100%;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	border-radius:2px;
	background-color:#95c957;
}
.contact-form ul li .submit-btn:hover{
	box-shadow:0 0 0 1px #95c957 inset;
	background-color:inherit;
	color:#95c957;
}
.contact_smallbox .smallbox{
	min-height:276px;
}
.contact_section{
	background-image:url(../images/contact_bg.jpg);
}
.contact_smallbox .smallbox ul{
	margin-top:20px;
	padding:20px 8% 0;
	width:84%;
	border-top:1px solid #ccc;
}
.contact_smallbox .smallbox ul li{
	text-align:left;
	font-size:14px;
	line-height:16px;
	color:#2b2b2b;
	margin-bottom:7px;
}
.contact_smallbox .smallbox ul li:last-child{
	margin-bottom:0px;
}
.contact_smallbox .smallbox ul li i{
	color:#02a9e7;
	margin-right:11px;
}
.contact_smallbox .smallbox ul li a{
	color:#2b2b2b;
}
.contact_smallbox .smallbox ul li a:hover{
	color:#02a9e7;
	text-decoration:underline;
}
.contact_smallbox .smallbox ul.social_box{
	width:98%;
	padding:20px 1% 0px;
}
.contact_smallbox .smallbox ul.social_box li{
	float:left;
	margin-bottom:0px;
	padding:0 15px;
	line-height:14px;
	border-right:1px solid #2b2b2b;
}
.contact_smallbox .smallbox ul.social_box li:first-child{
	padding-left:0px;
}
.contact_smallbox .smallbox ul.social_box li:last-child{
	padding-right:0px;
	border-right:none;
}
.contact_smallbox .smallbox ul.social_box li i{
	margin-right:6px;
}
/**************************************/
/************ About page **************/
/**************************************/
.about_bannercon{
	background-image:url(../images/about_banner.jpg);
}
.choose_section ul li{
	float:left;
	width:45%;
	background-color:#fff;
	padding:17px 2%;
	font-weight:600;
	color:#2b2b2b;
	box-shadow:0 0 0 3px #86b54e inset;
}
.choose_section ul li i{
	margin-right:9px;
}
.choose_section ul li:hover{
	background-color:#86b54e;
	color:#fff;
}
#about1 {
    float: left;
}
#about1 h3{
	font-weight:bold;
}
#about1 .owl-buttons {
    display: none !important;
}
#about2 {
    float: left;
    width: 100%;
    background-image: url("../images/border_line.png");
    background-position: center center;
    background-repeat: repeat-x;
}
#about2 .synced{
    background-image: url("../images/circle.png");
    background-position: center center;
    background-repeat: no-repeat;
}
#about2 .synced .item::before {
    bottom:-9px;
    left: 0;
    right: 0;
    content: "";
    height: 13px;
    width: 16px;
    margin: 0 auto;
    position: absolute;
    background:url("../images/slider_arrow.png") no-repeat;
}
#about2 .synced .item::after {
    top:42px;
    left: 0px;
    right: 0;
    content: "";
    height: 14px;
    width: 14px;
    margin: 0 auto;
	border-radius:100%;
    position: absolute;
    background:#02a9e7;
}
#about2 .synced .item {
    color: #02a9e7;
    position: relative;
}
#about2 .item {
	height:75px;
	padding:0;
	font-weight:300;
	margin-bottom:25px;
	text-align:center;
    color: #24272c;
    cursor: pointer;
}
/***************Special Classes************************/
.line_height1{
	line-height:20px;
}
.line_height2{
	line-height:34px;
}
.padding {
	padding: 60px 0;
}
.padding2 {
	padding:0 0 60px;
}
.align_center {
	text-align: center;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.floatlt {
	float: left !important;
}
.floatrt {
	float: right !important;
}
.nomargin_rt {
	margin-right:0 !important;
}
.spacer{
	float:left;
	width:100%;
	height:20px;
}
.spacer2{
	float:left;
	width:100%;
	height:40px;
}
/************** text colour *****************/
.blue {
	color: #02a9e7;
}
.green {
	color: #95c957;
}
.whitetext {
	color: #fff !important;
}
.blacktext {
	color: #2b2b2b;
}
.grey_text{
	color:#8c8c8c !important;
}
/*********** background colour *************/
.blue_bg {
	background-color: #02a9e7;
}
.green_bg {
	background-color: #95c957;
}
.white_bg {
	background-color: #fff;
}
.bg_2 {
	background-color: #fafafa;
}
.no_bg{
	background-color:none;
}

.privacy_textbox {
    float: left;
    width: 96%;
    font-weight: 300;
    text-align: left;
}

.tabs_container{
	width:100%;
	max-width: 1060px;
	margin:0 auto;
}

.imageholder{
	float:left;
	width:20%;
	margin:0;
	display: table;
}

.custom_contact{
    margin: auto;
    float: none;
}
.contact_detail{
	float: left;
    text-align: left;
	width: 70%
}
.chat_icon{
	width: 180px;
    border-radius: 10px;
    float: right;
}
.fa-custom, .contact_type1{
	color: #03A9E7;
	font-weight: bold;
}
.contact_type1{
	border-bottom: 1px solid #03A9E7;
}
.contact_type{
	color: #000;

}
.contact_type a {
	color: #000;
}	