<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Web Hosting | SSD Hosting - ExonHost</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="css/mobile.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png"  href="images/favicon.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>

</head>

<body>
<!--top navbar -->
<div id="topbar">
<ul>
<li class="hide"><a href="index.html">Home</a></li>
<li class="nopad hide"><a href="http://blog.exonhost.com">Blog</a></li>
<li class="topright tic4 hide"><a href="about.html">About</a></li>
<li class="topright tic3 hide"><a href="https://clients.exonhost.com/affiliates.php">Affiliates</a></li>
<li class="topright tic2"><a href="tel:+01978-992200"><img src="images/tic2.png"  alt="Call Us" />01978-992200</a></li>
<li class="topright tic2"><a href="tel:+09666-744755"><img src="images/tic2.png"  alt="Call Us" />09666-744755</a></li>
</ul></div><div class="clear"></div>
<!--end top navbar -->

<!--main navbar -->
<div id="navbar">
<div class="content">
<div class="logo"><a href="index.html"><img src="images/logo.png"   alt="ExonHostHost" /></a></div>
<ul id="menuprincipal">
<li class="thissection"><a href="webhosting.html"><span class="hideph">Our </span>Services</a></li>
<li><a href="contact.html">Support</a></li>
<li class="last"><a href="https://clients.exonhost.com/clientarea.php">Client Area</a></li>
</ul>
</div>
</div><div class="clear"></div>
<!--end main navbar -->

<!--mobile menu -->
<div class="white">
<div class="content">
<nav class="clearfix">
  <ul class="clearfix">
    <li><a href="web-hosting.html"><b>Web Hosting</b></a></li>
    <li><a href="reseller-hosting.html">Reseller<span class="mobonly">s</span> <span class="hidetablet">Hosting</span></a></li>
    <li><a href="ssd-vps.html">Virtual Servers</a></li>
    <li><a href="dedicated-server.html">Dedicated Servers</a></li>
    <li><a href="https://clients.exonhost.com/cart.php?a=add&domain=register">Domain<span class="mobonly">s</span> <span class="hidetablet">Names</span></a></li>
    <li><a href="https://clients.exonhost.com/index.php?rp=/store/ssl-certificates">SSL<span class="mobonly">s</span> <span class="hidetablet">Certificate</span></a></li>  
  </ul>
  <a href="#" id="pull">Menu</a>
</nav></div></div><div class="clear"></div>
<!--end mobile menu -->


<!--banner -->

<div class="blue banner innerpage"><div id="gradient"><div class="content">
<span class="labelred">Now with SSD</span>
<h1>Shared Web Hosting</h1>
<div class="breadcrumb"><a href="index.html">home</a><span class="devider">&nbsp; /  &nbsp;</span><span>services: web hosting</span></div>
</div></div></div>
<!--end banner -->


<!--plans -->

<div class="white">
<ul id="fourplans">
<!--plan webhosting -->
<li class="planone">
<div class="plantitle"><h5>Starter</h5>
<i>$</i><b>2.99</b><span>/mo</span><a href="#bonuses" class="labelyellow">3 Bonuses Included</a></div>
<div class="row ok">1 GB Storage</div>
<div class="row ok">50 GB Transfer</div>
<div class="row ok">512 MB RAM Limit</div>
<div class="row ok">1 Core Limit</div>
<div class="row ok">20 Entry Process</div>
<div class="row ok">10 Emails, Databases</div>
<div class="row ok">Single Website</div>
<div class="row ok">Free SSL &amp; SSD</div>
<div class="row ok">cPanel Control Panel</div>

<div class="row price"><i>$</i><b>24.39</b><span>/yr</span><a href="https://clients.exonhost.com/cart.php?a=add&pid=104" class="greenbutton">Order Now</a><div class="clear"></div></div>
</li>



<li class="plantwo">
<div class="plantitle"><h5>Standard</h5>
<i>$</i><b>5.99</b><span>/mo</span><a href="#bonuses" class="labelyellow">3 Bonuses Included</a></div>

<div class="row ok">5 GB Storage</div>
<div class="row ok">250 GB Transfer</div>
<div class="row ok">1 GB RAM Limit</div>
<div class="row ok">1 Core Limit</div>
<div class="row ok">20 Entry Process</div>
<div class="row ok">20 Emails, Databases</div>
<div class="row ok">5 Websites</div>
<div class="row ok">Free SSL &amp; SSD</div>
<div class="row ok">cPanel Control Panel</div>

<div class="row price"><i>$</i><b>60.98</b><span>/yr</span><a href="https://clients.exonhost.com/cart.php?a=add&product=105" class="greenbutton">Order Now</a><div class="clear"></div></div>
</li>
<li class="planthree">
<div class="plantitle"><h5>Advanced</h5>
<i>$</i><b>9.99</b><span>/mo</span><a href="#bonuses" class="labelyellow">3 Bonuses Included</a></div>


<div class="row ok">10 GB Storage</div>
<div class="row ok">500 GB Transfer</div>
<div class="row ok">2 GB RAM Limit</div>
<div class="row ok">2 Core Limit</div>
<div class="row ok">50 Entry Process</div>
<div class="row ok">Turbo Charged!</div>
<div class="row ok">10 Websites</div>
<div class="row ok">Free SSL &amp; SSD</div>
<div class="row ok">cPanel Control Panel</div>


<div class="row price"><i>$</i><b>97.56</b><span>/yr</span><a href="https://clients.exonhost.com/cart.php?a=add&product=106" class="greenbutton">Order Now</a><div class="clear"></div></div>
</li>

<li class="planfour">
<div class="plantitle"><h5>Turbo Diesel+</h5>
<i>$</i><b>19.95</b><span>/mo</span><a href="#bonuses" class="labelyellow">4 Bonuses Included</a></div>

<div class="row ok">50 GB Storage</div>
<div class="row ok">Unmetered Transfer</div>
<div class="row ok">4 GB RAM Limit</div>
<div class="row ok">4 Core Limit</div>
<div class="row ok">100 Entry Process</div>
<div class="row ok">Turbo Charged!</div>
<div class="row ok">Unlimited Websites</div>
<div class="row ok">Free SSL &amp; SSD</div>
<div class="row ok">cPanel Control Panel</div>


<div class="row price"><i>$</i><b>199.5</b><span>/yr</span><a href="https://clients.exonhost.com/cart.php?a=add&product=119" class="greenbutton">Order Now</a><div class="clear"></div></div>
</li>

</ul>





</div>
<!--end plans -->

<!-- blue 4 boxes -->
<div class="blue" id="bonuses">
<div class="content">

<h1>Four FREE Bonuses Included!</h1>
We've in house support team for 24/7 operation. They provide onboarding help, free website transfer and ongoing assistance at any time.
<div class="flex-grid">
<div class="quart"><h3><a href="vps.html"><img src="images/bic6.png"  alt="Cloud Hosting"><hr>Free Site Transfer</a></h3><p>Transfering from another host? Our expert support team is standing by to transfer your site from your old host. </p></div>
<div class="quart"><h3><a href="dedicated-server.html"><img src="images/bic7.png"  alt="Dedicated Servers"><hr>Free Auto Installer</a></h3><p>Install apps in one click, you don't have to go through the process of every script installers. You can just sit back and relax! </p></div>
<div class="quart"><h3><a href="#"><img src="images/bic8.png"  alt="Data Backup"><hr>Free Instant Setup</a></h3><p>We do offer free instant account setup. So you can start working on your website instantly without waste your time.  </p></div>
<div class="quart"><h3><a href="#"><img src="images/bic9.png"  alt="Domane Names"><hr>Free Domain Name</a></h3><p>A free domain name with our "Turbo Diesel+" hosting plan for first year on annual billing cycle.</p></div>
 
</div>

</div>
</div>
<!-- end blue 4 boxes -->

<!-- apps -->
<div class="white padseptente" id="appz">
<div class="content">
<div class="flex-grid">


<div class="half" style="width:60%">
<div class="iconsrow">
<img src="images/cms1.png"  alt="">
<img src="images/cms2.png"  alt="">
<img src="images/cms3.png"  alt="">  
<br>
<img src="images/cms4.png"  alt="">
<img src="images/cms5.png"  alt="">
<img src="images/cms6.png"  alt="">  
  
</div>

</div>
<div class="half"><h2>Install Your Favorite Apps <br>With Just One Click</h2>With our one click installer tool, available on every Web Hosting plan, you can create any type of website: blog, forum, CMS, wiki, photo gallery, E-commerce store, and so much more!  No more thinking for databases, downloading and uploading script files on your own, and other technical work. <br><br>
<a href="http://demo.softaculous.com/enduser/" class="bluebutton">View Demo</a> </div>


</div>
</div>
</div>
<!-- end apps -->

<!-- speed info -->
<div class="pattern">
<div class="content">
<div class="flex-grid" id="premiumspeed">


<div class="half" style="width:60%">

<h2>Premium Speed. Guaranteed.</h2>
<div class="redis mem"><b>LiteSpeed Web Server </b>
<p><a href="https://www.litespeedtech.com" class="">LiteSpeed</a> Web Server is a leading high-performance HTTP server and known for its high performance, stability, rich feature set, simple configuration, and low resource consumption. </p></div>

<div class="redis"><b>Mem Cache </b>

<p> It caches the results from the database queries into the ram speeding up the website tremendously.</p> </div>



</div>
<div class="half" id="laptop"> <img src="images/speedtest.png"  alt=""></div>


</div>
</div></div>
<!-- end speed info -->


<!-- Global Footer -->
<div class="white padseptente" >
<div class="content">

<!-- feautres -->
<div class="flex-grid centered" style="margin-bottom:75px">
<div class="onefird"><h3>99.9% Uptime Guarantee</h3><img src="images/uptime.png"  alt=""><p>We understand the uptime importance. We pledge to deliver in excess of 99.9% uptime, each and every month. </p></div>
<div class="onefird"><h3>30 Days Money-back guarantee</h3><img src="images/mback.png" width="94" height="94" alt=""><p>We have 30 Days moneyback guarantee, so you can try our service without any risk. We'll refund you if you're not satisfied.</p></div>
<div class="onefird"><h3>Free 24/7 Professional Support</h3><img src="images/supp.png" width="94" height="94" alt=""><p>Our customer support is 24x7x365. With your hosting package you also gain 24x7 accesses to our expert support team.</p>
  </div>
</div>
<!-- end feautres -->

</div>
</div>
<div id="footertop">
<div class="content">
<ul>
<li id="titf">Not sure where to start?</li><li id="angle"><a href="#"><img src="images/chat.png"  alt=""> Sales Live Chat</a></li><li id="ticket"><a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=1"><img src="images/ticket.png"  alt=""> <span>Submit a </span>Support Ticket</a></li><li id="mailf"><a href="tel:+09666744755"><img src="images/call.png"  alt=""> Call Us</a></li><li id="emf"><a href="mailto:sales@exonhost.com"><img src="images/email.png"  alt=""> Email Us</a></li>
</ul>
</div>
</div>
<div id="footerlinks">
<div class="content">
<div id="newsletter"><h5>NEWSLETTER SIGNUP</h5>Signup to recieve latest promotions.
<form>
<input name="email" type="text" value="Email address" class="fem"><input name="Submit" type="button" value="Subscribe"  class="fbu" >
</form>
<div id="socilicons">
<a href="https://www.facebook.com/exonhost" class="social"></a>
<a href="https://www.twitter.com/exonhost" class="social twitter"></a>
<a href="#" class="social gplus"></a>
</div>
</div>
<ul id="footermap"> 
<li>
<h5>Services</h5>

<a href="web-hosting.html">Web Hosting</a>
<a href="reseller-hosting.html">Reseller Hosting</a>
<a href="ssd-vps.html">Virtual Servers</a>
<a href="dedicated-server.html">Dedicated Servers</a>
</li>
<li>
<h5>Company</h5>

<a href="about.html">About US</a>
<a href="datacenter.html">Our Datacenters</a>
<a href="http://blog.exonhost.com">Our Blog</a>
<a href="https://clients.exonhost.com/contact.php">Contact US </a>

</li>

<li>
<h5>Help</h5>

<a href="https://clients.exonhost.com/index.php?rp=/knowledgebase">Knowledgebase</a>
<a href="https://status.exonhost.com">Service Status</a>
<a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=1">Support Center</a>
<a href="https://clients.exonhost.com/index.php?rp=/announcements">News &amp; Updates</a>
</li>

<li>
<h5>Legal</h5>

<a href="https://clients.exonhost.com/submitticket.php?step=2&deptid=4">Report Abuse</a>
<a href="tos.html">Terms of Service</a>
<a href="privacy.html">Privacy Policy</a>
<a href="tos.html">Acceptable Usages Policy</a>

</li>
</ul>
<div class="clear"></div>
<div class="copy"><div><a href="tos.html">Terms of Service</a>   |   <a href="privacy.html">Privacy Policy</a>   |  <a href="tos.html">SLA</a> &nbsp; <span><img src="images/card1.png"   alt="MasterCard"> <img src="images/card2.png"   alt="Visa"> <img src="images/card3.png"   alt="PayPal"></span></div>&copy; 2017 ExonHost. All rights reserved.</div>

</div></div>

<!-- End Global Footer -->

  <!--Start of Help.com Live Chat Script-->
  <script>
    window.Helpdotcom=window.Helpdotcom||function(a){window.Helpdotcom.q.push(a)},window.Helpdotcom.q=[];var d=document,s=d.createElement("script");s.type="text/javascript",s.async=!0,s.src="//plugins.help.com/livechat.js",s.id="helpdotcom-script",s.setAttribute("data-org-id","ccc8aa75-311e-49c7-88a8-8085df34d870"),s.setAttribute("data-widget-id","8f961332-cdd0-44f1-ae41-cae08e1645f1");var x=d.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);
  </script>
  <!--End of Help.com Live Chat Script-->

<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/67481/script.js');
</script>
</body>
</html>
